@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --first-color: #3578aa;
  --second-color: #34a7aa;
  --background-firts: #111;
  --background-second: #333;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Nunito", sans-serif;
}

html {
  background-color: var(--background-firts);
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  border: 1px solid var(--background-firts);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--first-color);
}
